@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

body {
  background-image: url("https://images.unsplash.com/photo-1536365480814-1072b4655d02?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}

h1 {
  color: #ad2333;
  background-color: white;
  margin: 20% 10% 0 10%;
  padding: 2% 1% 2% 0;
  width: 75%;
}

h4 {
  color:#ad2333;
  text-decoration: underline;
  background-color: white;
  margin: 10% 40% 0 40%;
  padding: 2%;
  cursor: pointer;
}

.youtube {
  align-items: center;
  margin-top: 52%;
}

.submit a {
  color: #ad2333;
}

footer {
  margin-top: 35%;
  padding: 2%;
  color:white;
}

footer > a {
  color: white;
}